<header class="headerContainer">
  <app-header></app-header>
</header>
<div class="formContainer">
  <form
    action=""
    [formGroup]="editUserSigninData"
    (ngSubmit)="editUserFormSignIn()"
    #form="ngForm"
  >
    <div>
      <app-titlesection [titleSection]="datosRegistro"></app-titlesection>
      <app-labelform [titleLabel]="labelEmail"></app-labelform>
      <app-inputform
        [inputType]="labelEmail"
        formControlName="email"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelPassword"></app-labelform>
      <app-inputform
        [inputType]="labelPassword"
        formControlName="password"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelTipoDocumento"></app-labelform>
      <app-selectform
        [selectOptions]="selectOptions"
        formControlName="tipoDocumento"
      ></app-selectform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelNumeroDocumento"></app-labelform>
      <app-inputform
        [inputType]="labelNumber"
        formControlName="numeroDocumento"
        min="5"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelNombre"></app-labelform>
      <app-inputform
        [inputType]="labeltext"
        formControlName="nombre"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelApellidos"></app-labelform>
      <app-inputform
        [inputType]="labeltext"
        formControlName="apellidos"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelFechaNacimiento"></app-labelform>
      <app-inputform
        [inputType]="labelData"
        formControlName="fechaNacimiento"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelFechaExpedicion"></app-labelform>
      <app-inputform
        [inputType]="labelData"
        formControlName="fechaExpedicion"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelNumeroCelular"></app-labelform>
      <app-inputform
        [inputType]="labelNumber"
        formControlName="numeroCelular"
      ></app-inputform>
    </div>
    <div>
      <app-buttonform [valueButton]="valuebutton"></app-buttonform>
    </div>
  </form>
</div>

<div class="formContainer">
  <form
    action=""
    [formGroup]="editUserComplementaryData"
    (ngSubmit)="editUserFormComplementary()"
    #form="ngForm"
  >
    <div>
      <app-titlesection
        [titleSection]="datosComplementarios"
      ></app-titlesection>
      <app-labelform [titleLabel]="labelPaisResidencia"></app-labelform>
      <!-- <app-inputform [inputType]="labeltext" formControlName="pais"></app-inputform> -->
      <app-selectform
        [selectOptions]="selectPaises"
        formControlName="pais"
      ></app-selectform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelCiudadResidencia"></app-labelform>
      <!-- <app-inputform [inputType]="labeltext" formControlName="ciudad"></app-inputform> -->
      <app-selectform
        [selectOptions]="selectCapitales"
        formControlName="ciudad"
      ></app-selectform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelDireccioResidencia"></app-labelform>
      <app-inputform
        [inputType]="labeltext"
        formControlName="direccion"
      ></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelImagenPerfil"></app-labelform>
      <app-inputform
        [inputType]="labeltext"
        formControlName="imagen"
      ></app-inputform>
    </div>

    <div>
      <app-buttonform [valueButton]="valuebutton"></app-buttonform>
    </div>
  </form>
</div>
