<main class="mainContainer">
  <div class="headerContainer">s</div>
  <div class="contentContainer">
    <app-logo></app-logo>
    <picture>
     <img src="../../../assets/img/usuario.png" alt="imagen usuario">
    </picture>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelTipoDocumento"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelNumeroDocumento"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelNombre"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelApellidos"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelFechaNacimiento"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelFechaExpedicion"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
    <div class="userInfo">
      <app-labelform [titleLabel]="labelNumeroCelular"></app-labelform>
      <app-labelform [titleLabel]="infoEmail"></app-labelform>
    </div>
  </div>
  <div class="footerContainer">footerContainer</div>
</main>
