<div class="formContainer">
  <form action="" [formGroup]="loginForm" (ngSubmit)="submitLogin()" #form="ngForm">
    <div>
      <app-labelform [titleLabel]="labelEmail"></app-labelform>
      <app-inputform [inputType]="labelEmail" formControlName="email"></app-inputform>
    </div>
    <div>
      <app-labelform [titleLabel]="labelPassword"></app-labelform>
      <app-inputform [inputType]="labelPassword" formControlName="password"></app-inputform>
    </div>
    <div>
      <app-buttonform [valueButton]="valuebutton"></app-buttonform>
    </div>
  </form>
</div>
